{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block avanzu_logo %}
    <a href="{{ path('admin_page_index') }}" class="logo">
        Administration
    </a>
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite"
        '@admin_lte_all_css'
        output="css/admin_vendors.css"
        
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">

    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{% block javascripts_head %}
    {% javascripts 
        '@AymardBundle/Resources/public/vendors/jquery/dist/jquery.min.js'
        '@common_js'
        '@admin_lte_wysiwyg'
        '@AymardBundle/Resources/public/js/admin.js'
        '@AymardBundle/Resources/public/js/wysihtml.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    
    {% endjavascripts %}
{% endblock %}

{% block page_title %}
    Administration
{% endblock %}

{% block page_subtitle %}
    Administration
{% endblock %}

{% block page_content %}
    {%  block body  %}{% endblock %}
    
    
{% endblock %}

{% block avanzu_admin_footer %}  {% endblock %}

