<div id="photo-modal" class="modal fade" >
	<h2 style="display:none;">{{ page.title }}</h2>
	<div id="photo-modal-content">
	  <i class="glyphicon glyphicon-remove" data-dismiss="modal"></i>
	  <div id="photo-modal-spinner" class='glyphicon spinning glyphicon-refresh'></div>
	  <div id="photo-modal-img" style="display:none;"></div>
	  <div id="image-description" style="display:none;"></div>
	</div>
</div>