<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1,requiresActiveX=true" />
        <title>Wix.com leforestierdequillien created by hortenseleforestier based on Photo Focus New</title>
        <meta http-equiv="X-Wix-Renderer-Server" content="app155.vae.aws" />
        <meta http-equiv="X-Wix-Meta-Site-Id" content="3f87cb05-4848-4e4a-bc97-dc049f37bc38" />
        <meta http-equiv="X-Wix-Application-Instance-Id" content="5cbc1c7033183f7b0ab6a2328d263f26|3f87cb05-4848-4e4a-bc97-dc049f37bc38" />
        <meta http-equiv="X-Wix-DB-Schema-Version" content="Ver2" />
        
        <link rel="shortcut icon" href="http://static.parastorage.com/client/pfavico.ico" type="image/png" />
        <link rel="canonical" href="http://www.leforestierdequillien.com/" />
        
        <meta name="fragment" content="!" />
        <!-- Looking for this page SEO Code?
           You can find it at http://www.leforestierdequillien.com/?_escaped_fragment_
           Wix.com revolutionary Flash editor supports the latest SEO technologies including AJAX Crawling
           If you want to read more about AJAX Crawling go to http://bit.ly/ajaxcrawling -->
        
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Wix.com leforestierdequillien created by hortenseleforestier based on Photo Focus New" />
        <meta property="og:url" content="http://www.leforestierdequillien.com/" />
        <meta property="og:description" content="le forestier de quillien, aymard, peinture, artiste, contemporain" />
        <meta property="og:site_name" content="Wix.com leforestierdequillien created by hortenseleforestier based on Photo Focus New" />
        <meta property="og:image" content="http://static.wixstatic.com/dicons/d2b5e2_ef08a762f48b9d9bca3178849c32a46f.wix_doc_ico" />
        
        <meta name="fb:admins" content="" />
        <meta name="title" content="Wix.com leforestierdequillien created by hortenseleforestier based on Photo Focus New" />
        <meta name="keywords" content="artiste, aymard, contemporain, le forestier de quillien, peinture" />
        <meta name="description" content="le forestier de quillien, aymard, peinture, artiste, contemporain" />
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-app="myApp">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
