{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
     <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {[{yourName}]} !</h1>
        LE FORESTIER DE QUILLIEN
        <nav>
            <a href="">ACCUEIL</a>
            <a href="">BIOGRAPHIE</a>
            <a href="">ACRYLIQUES</a>
            <a href="">HUILES</a>
            <a href="">ORS</a>
            <a href="">DESSINS</a>
            <a href="">GOUACHES 1/2</a>
            <a href="">GOUACHES 2/2</a>
            <a href="">TECHN DIVERSES</a>
        </nav>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="{{ asset('bundles/aymard/js/basic.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/aymard/css/viewer.css') }}" media="screen" />

<style>
    body { background: #fff;  }
    #wrapper { background: #FFF; max-width:1200px; }
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
