{% extends 'AymardBundle::base.html.twig' %}

{% block body %}
	<div id="mosaic">
		{% block mosaic %}

	      <hr>
	      <div>
		      <span>LE FORESTIER DE QUILLIEN</span>
		      <span>ARTISTE PEINTRE</span>
	      </div>
	        
	        <section>
	        	<p>Né en 1952, Aymard est Diplômé National des Beaux-Arts de Bordeaux en 1974. Après s’être formé pendant deux années chez un maitre verrier mosaïste et puis avoir fait des études de peinture et de gravure aux Beaux-arts de Bordeaux et d’Angers, il y ajoutera en 1982 et 1983 une formation à la technique de la dorure. Entre 1976 et 2013 il se consacrera à l’enseignement dans les collèges et les lycées.</p>
				<p>Depuis 1976, il a exposé dans de nombreuses galeries: Quimper, Bordeaux, Brest, Paris, Tirana  (Albanie 2012) Chambéry, Aix les Bains (2014-2015).</p>
				<p>Désormais tout son temps est consacré à ses recherches et à la diffusion de l’ensemble de son travail de création.</p>
	        </section>
	    	{% for photo in photos %}
	        	<img class="thumbnail" src="{{ asset('img/' ~ photo.file ~ '' ) }}"/>
	        {% endfor %}
		{% endblock %}
	</div>
    
{% endblock %}

