{% extends 'AymardBundle::base.html.twig' %}

{% block title %}LE FORESTIER DE QUILLIEN{% endblock %}
{% block body %}
	<div id="mosaic">
		{% block mosaic %}
	    	<hr>
	    	
	    	{% for photo in photos %}

	        		<img class="thumbnail" src="{{ ('web/img/' ~ photo.file) |imagine_filter('my_thumb')  }}"/>

    		{% endfor %}
    		
		{% endblock %}
	</div>
   
{% endblock %}

