{% extends 'AymardBundle::base.html.twig' %}

{% block body %}
	<div id="mosaic">
		{% block mosaic %}

	      <hr>
	        LE FORESTIER DE QUILLIEN
	        
	    
		{% endblock %}
	</div>
    
{% endblock %}

