.biography {
    width:80%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:10%;
    margin-right:auto;
    margin-left:auto;
}


.right_content {
    width:55%;
}

.biography .right_content_bottom {
    font-size:0.9em;
    width:100%;
    display:inline-flex;
}

.right_content_top {
    margin-bottom:25px;
    text-align:center;
}

.right_content_bottom div:nth-child(2){
    font-size: 0.77em;
    width: 52%;
}

.biography img {
    margin-right:20px;
}