.biography {
    width:80%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-right:auto;
    margin-left:auto;
    padding-top: 10px;
}

.title {
    margin-top: -4%;
    width:100%;
}

.right_content {
    margin-left:1px;
    width:100%;
}

.biography .right_content_bottom {
    font-size:1em;
    width:100%;
    display:inline-flex;
}

.wrapper {
  background-color: #90AAD4;
  height: 100vh;
  padding-top: 10%;
}

.right_content_top {
    margin-bottom:25px;
    text-align:center;
}

.right_content_bottom div:nth-child(2){
    font-size: 0.77em;
    width: 52%;
}

.biography img {
    margin-right:20px;
    margin-top: 6%;
}