html {
    background-color: var(--main-color);
}

.biography {
    width:80%;
    display:flex;
    
    justify-content:space-between;
    margin-right:auto;
    margin-left:auto;
    padding-top: 10px;
}

.title {
    margin-top: 15%;
    width:70%;
}

.right_content {
    padding-bottom: 15%;
    margin-left:1px;
    width:100%;
    font-size: 0.77em;
}

.biography .right_content_top {
    font-size:1em;
}

main {
  background-color: var(--main-color);
  height: 100vh;
  padding-top: 2%;
}


.biography .firm {
    font-weight: bold;
}

.biography img {
    margin-right:20px;
    margin-top: 10%;
}

.biography p {
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 25px;
    margin-top: 20px;
}

.biography .first-letter-style::first-letter {
    font-size: 1.3em;
}