body {
  background-color: var(--main-color);
  padding: 10%;
}

main {
    /*width:60%;*/
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-right:auto;
    margin-left:auto;
    padding-bottom: 1%;
    padding-top: 1%;
    
}

.title_home {
    margin-top: -6%;
}

.title div:nth-child(2) {
    text-align:center;
}

@media (min-width: 1150px) {
  main {
      width: 80%;
  }
}

@media (min-width: 1000px) and (max-width: 1149px) {
  main {
      width: 90%;
  }
}

@media  (max-width: 999px) {
  main {
      width: 90%;
  }
}