* {
    --main-color: #90AAD4;
    --main-color-0-9: rgba(144, 170, 212, 0.9);
    --main-color-0-8: rgba(144, 170, 212, 0.8);
    --main-color-0-7: rgba(144, 170, 212, 0.7);

    --black-0-4: rgba(0, 0, 0, 0.4);
    --black-0-6: rgba(0, 0, 0, 0.6);
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(/fonts/glyphicons-halflings-regular.woff);
}


html {
    width: 100%;
}

body {
    font-size: 18px;
    margin: 0 auto;
}

#main-content {
    z-index: -1;
    height: 100%;
}

#mosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /*margin-bottom: 5%;*/
}


.photo-thumbnail {
    float: left;
    height: 200px;
}
