@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(/web/fonts/glyphicons-halflings-regular.woff);
}

html {
    width: 100%;
}

body {
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
}

#main-content {
    
    z-index: -1;
    margin-bottom: 5%;
}

.photo-thumbnail {
    float: left;
    height: 200px;
    margin: 0.5px;
}
