.navbar-default {
    font-size:0.9em;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    background-image: none;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #515151;
    background-color: white;
}

#bs-example-navbar-collapse-1 > ul > li.active > a {
    border-top: 2px solid tomato;
}


@media (min-width: 1150px) and (max-width: 1250px) {
  .navbar-default {
      font-size: 0.8em;
  }
}

@media (min-width: 977px) and (max-width: 1149px) {
  .navbar-default {
      font-size: 0.7em;
  }
  
  .nav > li > a {
      padding: 15px 10px;
  }
}

@media (min-width: 768px) and (max-width: 976px) {
  .navbar-default {
      font-size: 0.6em;
  }
  
  .nav > li > a {
      padding: 15px 5px;
  }
}

a:focus {
    outline: none;
}