footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer nav.navbar-default {
    display: flex;
    justify-content:space-around;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    background-image: none;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #515151;
    background-color: white;
}

#bs-example-navbar-collapse-1 > ul > li.active > a {
    border-top: 2px solid tomato;
}


@media only screen and (min-width: 1150px) {
  .navbar-default {
      font-size: 0.9em;
  }
}

@media (max-width: 1149px) {
  .navbar-default {
      font-size: 0.6em;
  }

  
  .nav > li > a {
      padding: 15px 10px;
  }
}

a:focus {
    outline: none;
}
