main {
	width: 950px;
	margin: 0 auto;
	margin-bottom: 5%;
	text-align: center;
}

p {
	font-size: 16px;
    text-align: justify;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(84, 83, 83);
    line-height: 30px;
}

p.firm {
	font-weight: bold;
}

img, p {
	margin-bottom: 30px;
}

@media (min-width: 1150px) and (max-width: 1250px) {
  main {
      width: 1000px;
  }
}

@media (min-width: 977px) and (max-width: 1149px) {
  main {
      width: 900px;
  }
}

@media (min-width: 768px) and (max-width: 976px) {
  main {
      width: 700px;
  }
}